.content {
  position: relative;

  &__block {
    position: relative;
  }

  &__left {
    position: absolute;
    left: 12px;
    bottom: 95px;
}
  &__right {
    position: absolute;
    right: 105px;
    bottom: 95px;
  }

  &__img {
    display: block;
    background: url("../img/hearts.png");
    width: 42px;
    height: 117px;
    opacity: 0.5;
  }

}


