.headerline {
  background: $headerline_background;

  &__logo {
    float: left;
    background: white;
    position: absolute;
    top: 0;
    box-shadow: 0 -6px 11px #cfcbbd;
  }
  &__logolink {
    display: block;
    padding: 11px 13px 16px;
  }

  &__nav {
    float: left;
  }

  &__navlist {
    margin: 0;
    padding: 0;
    line-height: 46px;
  }

  &__navitem {
    display: inline-block;
    font-size: 1.4em;
    padding: 0 15px;
    &_first {
      padding-left: 33px;
    }
  }

  &__sriblo {
    float: left;
    margin-left: 124px;

  }

  &__sribloitem {
    line-height: 46px;
    font-size: 1.4em;
    background: url("../img/backgrhead.png") no-repeat;
    box-shadow: 2px -2px 8px #c4c0b4;
  }

  &__sriblolink {
    display: block;
    color: $color_link;
    padding: 0 15px;
    transition: color 0.2s linear;

    &:hover {
      color: $color_linkhover;
      text-decoration: none;
    }
  }

  &__sribloicon {
    padding-right: 5px;
  }

  &__navitem {

    &_background {
      background: url("../img/header__navicon.png") left center no-repeat;
      padding-left: 20px;
    }
  }

  &__navlink {
    display: block;
    color: $color_link;
    transition: color 0.2s linear;

    &:hover {
      color: $color_linkhover;
      text-decoration: none;
    }
  }

}

