.headercontent {
  box-shadow: 0 -3px 5px #cfcbbd;

      &__logo {
        float: left;
        width: 22%;
      }

      &__infocols {
        float: left;
        width: 78%;
        margin: 5px 0 13px;
      }

      &__search {
        padding: 22px 0 13px 0;
      }

      &__searchlinkbl {
        float: right;
        width: 43%;
      }

      &__searchlinkblock {
        display: inline-block;
        padding-right: 30px;
      }
      &__searchlinkblock-list {
        margin: 0;
        padding: 0;
      }
      &__searchlinkblock-item {
        display: inline-block;
        font-size: 1.4em;
        padding: 0 20px;
      }

      &__searchlinkblock-link {
        color: #535353;
        transition: color .1s linear;

        &:hover {
          text-decoration: none;
          color: #e1384c;
        }
      }

      &__searchchat {
        display: inline-block;
        padding-left: 20px;
      }
}
