.linkschat {
  float: right;
  width: 44%;

  &__links {
    display: inline-block;
    padding-right: 9px;
  }

  &__linkslist {
    margin: 0;
    padding: 0;
  }
  &__linksitem {
    display: inline-block;
    font-size: 1.4em;
    padding: 0 20px;
  }
  &__itemlink {
      color: #e1384c;
    transition: color .1s linear;
    &:hover {
      text-decoration: none;
      color: #535353;
    }
  }
  &__chat {
    display: inline-block;
    margin-left: 20px;
  }
}