.logo {

  &__link {
    display: block;
    padding: 18px 3px 13px;
    text-decoration: none;
  }

  &__img {
    display: block;
    padding-bottom: 10px;
  }
  &__text {
    clear: left;
    font-size: 1.2em;
    color: #a5a5a5;
  }
}

