.logo {

}

.logo__item {

}

.logo__link {
  display: block;
  padding: 18px 3px;
  text-decoration: none;
}

.logo__img {
  display: block;
  padding-bottom: 10px;
}

.logo__bottomtext {

}

.logo__text {
  clear: left;
  font-size: 1.2em;
  color: #a5a5a5;
}