.madeorder {

}

.madeorder__title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.madeorder__tableblock {
  padding: 30px 24px 30px 20px;
}

.madeorder__table {
}

.madeorder__tableline {

}

.madeorder__tablehead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.197em;
  font-style: oblique;
  font-weight: 300;
  color: #827e7e;
  text-align: left;
  padding: 0 25px 13px;
}

.madeorder__tablehead_first {
  padding-left: 0;
}

.madeorder__tablehead_empty {

}

.madeorder__tablecol {
  font-size: 1.4em;
  padding: 0 23px 10px;
}

.madeorder__tablecol_color {
  padding-right: 20px;
  padding-left: 0;
}

.madeorder__tablecollinknumder {
  font-size: 1.286em;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #ff7888;
  transition: color .1s linear;
}

.madeorder__tablecollinknumder:hover {
  color: #278208;
}

.madeorder__tablecolfinished {
  color: #278208;
}

.madeorder__tablecol_bold {
  font-weight: bold;
}

.madeorder__tablecol_last {
  padding-right: 0;
}

.madeorder__tablecolbtn {

}

.madeorder__tablecollink {
  font-size: 0.857em;
  color: #ff7888;
  letter-spacing: -0.01em;
  transition: color .1s linear;
}

.madeorder__tablecollink:hover {
  text-decoration: none;
  color: #7a693b;
}

.madeorder__info {
  background: #fee695;
}

.madeorder__infoblock {
  border-top: 1px solid #e5d291;
  padding: 20px 22px;
}

.madeorder__statistics {
  float: left;
  width: 30%;
}

.madeorder__statisticstable {
  font-size: 1.3em;
  line-height: 18px;
}

.madeorder__statisticstableline {

}

.madeorder__statisticstablecol {
  letter-spacing: -0.06em;
}

.madeorder__statisticstablecol_name {
  padding-right: 25px;
  color: #5b5959;
}

.madeorder__buys {
  float: right;
  width: 61%;
}

.madeorder__buyssale {
  display: inline-block;
  line-height: 50px;
}

.madeorder__buyssaletext {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.6em;
}

.madeorder__buyssaletextcolor {
  color: #ff001d;
}

.madeorder__buysbtn {
  display: inline-block;
  padding-left: 25px;
}