.mainordertable {

  &line {
    font-family: Arial, Helvetica, sans-serif;
  }
  .opacity {
    opacity: 0.4;
  }
  &__head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border-bottom: 1px solid #535353;
    font-style: oblique;
    color: #827e7e;
    text-align: left;
    padding: 0 17px 2px;
    font-weight: 500;
    &_nopadding {
      padding-left: 7px;
    }
    &_empty {
      border-bottom: none;
    }
    &_status{
      padding-left: 1px;
    }
  }

  &__col {
    border-bottom: 1px dotted #6a6a6a;
    padding: 0 18px;
    &_status{
      padding-left: 0;
    }
    &_nopadding{
      padding-left: 7px;
    }
  }
  &__picture {
    border-bottom: none;
    padding: 0 9px 0 6px;

  }
  &__colpiclink {
    display: block;
    height: 80px;
  }

  &__colimg {
    border: 1px solid #bbaa78;
  }
  &__collinkname {
    font-size: 1.4em;
    color: $color_info;
    transition: color .2s linear;
    &:hover {
      color: #7A693B;
      text-decoration: none;
    }
  }
  &__collink{

    &_colorcol {
      font-size: 1.196em;
      color: $color_info;
      border-bottom: 1px dotted;
      text-decoration: none;
      transition: color .2s linear;
      &:hover {
        color: #134b06;
        border-bottom: none;
      }
    }
  }
  &__colnumber {
    font-size: 1.2em;
    padding: 2px 0;
  }
  &__colcode {
    float: left;
  }
  &__colarticle {
    float: right;
  }
  &__colsize {
    font-size: 1.8em;
  }
  &__colstatus {
    font-size: 1.4em;

    &_colororange {
      color: #e58900;
    }
    &_colorred {
      color: #ff0000;
      opacity: 1;
    }
    &_colorgreen {
      color: #339900;
    }
  }
  &__colsale {
    font-size: 1.8em;
  }
  &__colquantity {
    font-size: 1.8em;

  }
  &__colprice{
    line-height: 17px;
    display: block;
    padding-left: 3px;
  }
  &__cololdprice {
    font-size: 1.4em;
    display: block;
    color: #807d7d;
    text-decoration: line-through;
  }
  &__coltodayprice {
    display: block;
    font-size: 2.4em;
  }
  &__coltodaypricecoins {
    font-size: 0.583em;
  }
  &__colhowmany {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: block;
    color: #807d7d;
    font-style: oblique;
    vertical-align: sub;
  }
}