.mainblock {
  border-bottom: 1px dotted #6a6a6a;
}

.mainblock__numberorder-scale {
  float: left;
  width: 58%;
}

.mainblock__numberorder-title {

}

.mainblock__numberorder-titlenumber {
  display: inline-block;
  font-size: 1.8em;
}

.mainblock__numberorder-titlestatus {
  display: inline-block;
  font-size: 1.8em;
  margin-left: 40px;
}

.mainblock__numberorder-titlestatusname {
  color: #ff7e00;
}

.mainblock__numberorder-titlenumbersamll {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.mainblock__numberorderscale {
  margin: 20px 0;
}

.mainblock__numberorder-payorder {
  float: right;
  width: 41%;
  margin: 31px 0 0;
}

.mainblock__numberorder-payorderaddress {
  width: 180px;
  float: left;
  font-size: 1.3em;
  margin-right: 15px;
  letter-spacing: -0.04em;
}

.mainblock__numberorder-payorderaddressstyle {
  color: #5b5959;
}

.mainblock__numberorder-payorderpay {
  font-size: 1.3em;
  width: 168px;
  float: left;
  margin-bottom: 20px;
}

.mainblock__numberorder-payorderpaytext {
  padding-left: 10px;
  letter-spacing: -0.04em;
  line-height: 110%;
  padding-bottom: 5px;
}

.mainblock__numberorder-payorderpaybtn {
  background: #fee695;
  padding: 10px;
}

.mainblock__numberorder-payorderpaybtnprice {
  letter-spacing: -0.04em;
  word-spacing: -0.04em;
}

.mainblock__numberorder-payorderpaybtnblock {
  display: inline-block;
  padding-top: 7px;
  text-align: center;
}