.orderscale {
  position: relative;
  height: 100px;

  &__listinfo {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -1em;
  }
  &__itemonfo {
    display: inline-block;
    font-size: 13px;
    color: #666666;
    width: 140px;
    letter-spacing: 0;
    word-spacing: -0.02em;
    &_colorgreen {
      color: #336600;
    }
    &_sizeprelast {
      width: 104px;
    }
    &_size {
      width: 45px;
      vertical-align: super;
    }
  }
  &__listborder {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -1em;
  }
  &__itemborder {
    display: inline-block;
    height: 48px;
    width: 139.6px;
    border-left: 1px solid #c8c3b2;
    &_last {
      border-right: 1px solid #c8c3b2;
    }
  }
  &__background {
    width: 563px;
    height: 20px;
    background: #595959;
    position: absolute;
    top: 50px;
  }
  &__backgroundline {
    background: url("../img/scaleline.png") left repeat-x;
    height: 20px;
    border-radius: 0 2px 2px 0;
  }
  &__listdate {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: -1em;
    position: absolute;
    top: 72px;
  }
  &__itemdate {
    display: inline-block;
    font-size: 11px;
    color: #336600;
    width: 140px;
    letter-spacing: -0.02em;
    word-spacing: -0.06em;
    padding-left: 6px;
    box-sizing: border-box;
  }

}
