.personalmenu {

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3.4em;
  }
  &__item {
    font-size: 1.8em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    &_active {
      background: #fff5d4;
    }
  }
  &__link {
    text-decoration: none;
    color: #d00018;
    padding: 1px 0 0 12px;
    display: block;
    transition: color 0.2s linear;
    &:hover .personalmenu__linkunderline {
      text-decoration: none;
    }
    &_active {
      color: black;
      &:hover .personalmenu__linkorder {
        border-bottom: none;
      }
    }
  }
  &__linkorder {
    border-bottom: 1px dotted;
    &:hover {
      color: #7a693b;
    }
  }
  &__linkorder {
    border-bottom: 1px dotted;
  }
  &__linksmall {
    font-size: 0.667em;
    color: #444444;
  }
  &__linkunderline {
    text-decoration: underline;

  }

}

