.product {
  float: left;
  width: 136px;
  margin-left: 35px;

  &_first {
    padding-left: 0;
  }
  &__imagelink {
    display: block;
    transition: all .2s linear;
    &:hover {
      background: white;
      opacity: 0.5;
    }
  }
  &__imageblock-img {
    border: 1px solid #978248;

  }
  &__info {
    margin-top: 4px;
  }
  &__infoname{
    padding-left: 5px;
  }
  &__info-infotitle {
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #d80019;
    transition: color 0.1s linear;
    line-height: 17px;
    &:hover {
      color: #7A693B;
      text-decoration: none;
    }
  }
  &__iinfocolor {
    font-size: 1.196em;
    color: #5b5959;
    margin: 7px 0 5px;
  }
  &__infocolorname {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: $color_info;
    transition: color .1s linear;
    &:hover {
      color: #09a418;
    }
  }

  &__infosize {
    font-size: 1.196em;
    color: #5b5959;
    margin: 0 0 4px;
  }
  &__infosizenumber {
    color: black;
  }
  &__infoprice{
    padding-left: 5px;
  }
  &__infooldprice {
    font-size: 1.2em;
    display: block;
    text-decoration: line-through;
  }
  &__infopricetext {
    margin: 0;
  }
  &__infosaleprice {
    font-size: 1.2em;
  }
  &__infosalepricecolor {
     color: $color_info;
  }
  &__imageblock-infopricebig {
    font-size: 16px;
    vertical-align: middle;
  }
  &__infobtn {
    margin: 8px 0;
    display: block;

  }
}







