.resume {

}

.resume__delivery {
  float: left;
  width: 42%;
  padding-right: 25px;
}

.resume__text {
  font-size: 1.3em;
  padding: 5px 0;
  margin: 0;
  line-height: 120%;
  word-spacing: -0.02em;
  letter-spacing: -0.02em;
}

.resume__textstatic {
  color: #5b5959;
}

.resume__textstaticbold {
  font-weight: bold;
}

.resume__pay {
  float: left;
  padding: 0 30px;
}

.resume__paybtn {

}

.resume__total {
  float: right;
  padding-top: 2px;
}

.resume__totaltable {
  line-height: 18px;
}

.resume__totaltableline {

}

.resume__totaltablecol {
  font-size: 1.3em;
  padding-right: 20px;
  letter-spacing: -0.03em;
}

.resume__totaltablecol_title {
  color: #5b5959;
}

.resume__totaltablecol_bold {
  font-weight: bold;
}