.resume {

  &__delivery {
    float: left;
    width: 47%;
    margin-right: 18px;
  }
  &__text {
    font-size: 1.3em;
    margin: 6px 0;
    line-height: 120%;
    &_topay{
      margin: 8px 0;
    }
  }
  &__textstatic {
    color: #5b5959;

  }
  &__textstaticbold {
    font-weight: bold;
    letter-spacing: 0.01em;
  }
  &__pay {
    float: left;
    margin: 0 29px;
  }
  &__total {
    float: right;
    margin: 2px 13px 4px 0;
  }
  &__totaltable {
    line-height: 20px;
  }
  &__totaltablecol {
    font-size: 1.3em;
    padding-right: 24px;
    letter-spacing: -0.03em;
    &_title {
      color: #5b5959;
    }
    &_bold {
      font-weight: bold;
    }
  }

}
